@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './icons.css';
@import '../../node_modules/react-mfb/mfb.css';
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'; 
@import 'https://fonts.googleapis.com/icon?family=Material+Icons'

/******************  Eventos   */

.my_events {font-family: 'Roboto', sans-serif; margin:0 -12px 50px -12px}
.my_events .my_event { margin-bottom:40px}
.my_events .my_event .event_show { height:300px; overflow:hidden; }
a.my_event .event_show div{ position:absolute; float:left;  margin-left:15px; font-size:11px; color:#fff;  bottom:150px; text-shadow:2px 5px 10px #000}


.my_events .my_event a.info { position: absolute; float:left; display:block; background:#fff; border-radius:3px; text-transform:uppercase; font-weight:800; padding:4px 8px; font-size:10px; margin:30px 0 0 20px; box-shadow:inset 0 -2px 0 rgba(0,0,0,0.1)}
.my_events .my_event a.info { text-decoration:none;}
.my_events .my_event .event_show .event_info { z-index:10; height:300px; padding:20px; color:#fff; z-index:1; z-index:1}
.event_artits { display:block; font-size:28px; border-bottom:solid 2px #fff; font-weight:300; line-height:30px; padding-bottom:10px; margin-bottom:10px; padding-top:60px}
.event_date { font-size:18px; font-weight:700; display:block;}
.event_venue { font-size:11px;}
.event_top { height:14px; display:block; margin:-300px 0 0 0; margin-bottom:275px;}
.event_dashed { height:3px; display:block; z-index:100; }

.event_options { padding:10px; min-height:120px;}
.event_options table { width:100%; }
.event_options table td { line-height:50px; text-align:center; vertical-align:middle; border-bottom:dashed 1px #c6c6c6; border-right:dashed 1px #c6c6c6}
.event_options table td:last-child { border-right:none;}
.event_options table td a { font-weight:700; text-transform:uppercase; font-size:12px; color:#777; text-shadow:0 1px 0 rgba(255,255,255,0.5);}
.event_options span { display:block; margin-bottom:20px; padding-top:10px; font-size:11px; text-align:center; color:#999}


.my_events .ti_no a.info { color:#b81138}
.my_events .ti_pen a.info { color:#ed8619}
.my_events .ti_pas .event_options { background:#fff; padding:0; }
.my_events .ti_pas .event_options span { padding-top:10px; margin-bottom:5px;}
.my_events .ti_pas .event_options a { display:block; text-align:center; color:#28b684;}

.my_events .my_event a.info span.more_info { position:absolute; float:left; background:#fff; border-radius:3px; padding:10px; color:#333; font-size:12px; text-transform:none; opacity:1; box-shadow:-5px 20px 50px rgba(0,0,0,0.3) , inset 0 -2px 0 rgba(0,0,0,0.1); display:none; line-height:18px; text-align:left; z-index:100; margin:7px 0 0 -8px; font-weight:normal; width:200px}
.my_events .my_event a.info:hover span.more_info { display:block; }
.my_events .my_event a.info  i { font-size:13px; color:#999; margin-left:5px;}


.events .my_event { margin-bottom:30px} .events .my_event:hover { text-decoration:none;}
.events .my_event .event_show { height:250px; overflow:hidden;}
.events .my_event .color { height:4px; display:block;}

.events .event_options { padding:10px; }
.events .event_options { display:block; padding:15px; margin:0; color:#333;}
.events .event_artits { display:block; font-size:18px; font-weight:300; border:none;margin-bottom:15px; padding-top:0; text-align:left !important;color:#444; line-height:22px; height:42px; overflow:hidden; display:block}
.events .event_venue { font-size:11px;text-align:left !important;color:#666; padding:10px 0 0 0;  border-top:solid 2px #cdcdcd;}

.type_a .color{ background:#23b582} 
.type_b .color { background:#1a6584}
.type_c .color{ background:#47aabd}
.type_d .color{ background:#acd0e8}
.type_e .color { background:#c80f39}
.type_f .color{ background:#c43d65}
.type_g .color{ background:#fbb11a}
.type_h .color{ background:#ed8619}


.section .container { padding-top: 64px; }
.section .events { padding-top: 40px;}

.facebook-login {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: #4C69BA;
  color: #FFF;
  transition: background-color 300ms ease-out;
}

.facebook-login:hover {
  background-color: #4F70CA
}

.addon { margin-bottom:50px; font-size:12px;}
.addon a , .addon span { display:block;}
.addon .con { margin-bottom:15px;}
.addon .method_payment img { width:100%;}
.addon .location a { font-size:14px; font-weight:normal; color:#23b582;}
.addon .location img { width:100%;}
.addon .friends p { text-align:center; font-size:11px; padding-top:10px; margin:0; color:#999;}
.addon .friends .friend_avatar img { width:100%;}

.addon .connect p { text-align:center; font-size:14px; padding:10px 0; margin:0; color:#666; font-weight:400; display:block; border-top:solid 2px #3f5d9c }
.addon .connect .friend_avatar img { width:100%; opacity:0.2;-webkit-filter: grayscale(40%) blur(1px); -moz-filter: grayscale(40%) blur(1px); -o-filter: grayscale(40%) blur(1px); -ms-filter: grayscale(40%) blur(1px); filter: grayscale(40%) blur(1px); z-index:1}
.pg_sidebar .addon .btn-facebook { padding: 13px 0 !important; font-size:12px !important; width:80%; margin:100px 10% 0 7%; z-index:100; position:absolute}

.addon h2 { color:#23b582; font-weight:500; font-size:14px; margin:0 0 10px 0; padding:0; text-transform:uppercase;}
.addon  .col-xs-7 , .addon .col-xs-4 , .addon .col-xs-12 { padding:0;}
.addon .col-xs-2 { padding:1px;}

.addon ul { padding:0; margin:0;}
.addon li.media { margin:0; padding-bottom:15px; border-bottom:dotted 1px #ccc;}
.addon li.media:last-child { border-bottom:none;}
.addon .media .pg_picture { height:90px;}
.addon .media span { margin-bottom:5px;}
.addon .media a.place { color:#23b582;} 
.addon .media a.place i { margin-right:5px;}
.addon .media .col-xs-8 { padding-left:20px;}
.addon .media h3 { padding:0; margin:0 !important;}
.addon .media h3 a { font-size:16px; font-weight:500; color:#111;}

.addon a.btn-social { width:40px; height:40px; border:solid 1px #999; color:#333; display:block; position: relative; float:left; text-align:center; line-height:40px; font-size:18px; margin:0 3px 3px 0; opacity:0.5;}
.addon a.btn-social:hover { opacity:1;}
.section .content{
  padding-top: 64px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 38px;
  }
}
.form-group {
    margin-bottom: 0px;
}